  

/*********************************************************************
Teacher

Copyright 2013 by the contributors

This file is part of Teacher.

Teacher is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Teacher is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Teacher.  If not, see <http://www.gnu.org/licenses/>
*********************************************************************/



.eval_obj_img {
	vertical-align: top;
	display: inline-block;
}

.eval_obj_content {
	display: inline-block;
	width: 640px;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 30px;
}

.eval_obj_title {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #8F127D;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #8F127D;
	border-radius: 0px 0px 10px 0px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(143,18,125); /* =  #8F127D;*/
}

.eval_subobj_title {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(143,18,125);
}

.eval_instruction {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.eval_real_life_situation {
	float: left;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: rgba(143,18,125,0.3);
}

.eval_real_life_situation_title {
	margin-bottom: 10px;
	color: rgb(143,18,125);
	font-weight: bold;
}

.eval_validation_conditions {
	margin-top: 20px;
	font-weight: bold;
	color: rgb(143,18,125);
}

.eval_question {
	margin-bottom: 10px;
	margin-top: 20px;
}

.eval_answer {
	margin-bottom: 10px;
	margin-top: 10px;
}

.eval_question_answer_title {
	text-decoration: underline;
	color: rgb(143,18,125);
}

.eval_subquestion_title {
	font-weight: bold;
	color: rgb(143,18,125);
}

.eval_subquestion_statement {
	background-color: rgba(143,18,125,0.3);
	padding: 5px;
}

.eval_validation_items {
	text-align: right;
}

.eval_validation_items p {
	display: inline-block;
}

.eval_validation_button {
	text-align: center;
}
