  

/*********************************************************************
Teacher

Copyright 2013 by the contributors

This file is part of Teacher.

Teacher is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Teacher is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Teacher.  If not, see <http://www.gnu.org/licenses/>
*********************************************************************/


.nav_target {
	display: inline-block;
	height: 30px;
	width: 295px;
	padding-top: 10px;
	background-color: silver;
	border: 1px solid black;
	text-align: center;
}

.nav_target > a {
	border: none;
	color: #FFFFFF;
	text-decoration: none;
}

.nav_target_selected {
	display: inline-block;
	height: 30px;
	width: 295px;
	padding-top: 10px;
	background-color: #FFFFFF;
	border: 1px solid black;
	text-align: center;
}

.nav_target_selected > a {
	border: none;
	color: silver;
	text-decoration: none;
}
