  

/*********************************************************************
Teacher

Copyright 2013 by the contributors

This file is part of Teacher.

Teacher is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Teacher is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Teacher.  If not, see <http://www.gnu.org/licenses/>
*********************************************************************/


.user_form {
	display: inline-block;
	width: 500px;
}

.button {
	font-size: large;
	padding-left: 190px;
	margin-left: .5em;
}

.user_main_left {
	display: inline-block;
	width: 350px;
}

	.user_main_1 {
		background-color: #D9E9F7;
		margin-right: 15px;
		margin-bottom: 15px;
		border-style: solid;
		border-width: 2px;
		border-color: grey;
		border-radius: 10px;
		padding: 5px;	
	}
	
	.user_main_1 > h3 {
		text-align: center;
		font-weight: bold;
		font-size: normal;
		padding: 1px;
		margin: auto;
	}

.user_main_right {
	display:inline-block;
	vertical-align: top;
	width: 300px;
}

.user_main_bottom {
	display:block;
}

.item_user {
	display:inline-block;
	text-align: center;
	background-color: silver;
	margin: 10px;
	border-radius: 5px;
	padding: 8px;
}
.item_user > a {
	color: black;
	font-weight: bold;
	text-decoration: none;		
}

