<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/educ_diag.css" rel="stylesheet" />
    <title>Projet Teacher</title>
</head>

<body>
	<section>		
		<form method='post' action='.?view=educ_diag_1'>
			<div class="educ_diag_sampletitle">Histoire de la maladie</div>

		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num1.gif"/>
			</div>
			<label for='q1'>Sais-tu depuis combien de temps tu es asthmatique ?</label>
				<div class="educ_diag_answer">
					<input type='text' name='q1' id='q1' value='' size="80"/>
				</div>
		</p>

		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num2.gif"/>
			</div>
			<label for='q2'>Comment et par qui l'as tu appris ?</label>
				<div class="educ_diag_answer">
					<input type='text' name='q2' id='q2' value='' size="80"/>
				</div>
		</p>
	
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num3.gif"/>
			</div>
			<label for='q3'>Y a-t-il dans ta famille quelqu'un qui est asthmatique ?</label>
				<div class="educ_diag_answer">
					<input type='text' name='q3' id='q3' value='' size="80"/>
				</div>
		</p>
		
		<div><input type='submit' name='valid_educ_diag' id='valid_educ_diag' value='page suivante' /></div>

		
	</form>





	</section>
</body>
</html>

