#AuthUserFile /home/s-degoul/Site_Internet/test/Teacher/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Accès restreint"
#AuthType Basic
#<Limit GET POST>
#require valid-user
#</limit>
Order allow,deny
Deny from all

#Options -Indexes

#<Files functions.php>
#Deny from all
#</Files>

<Files index.php>
Allow from all
</Files>

<Files .>
Allow from all
</Files>
