<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/educ_diag.css" rel="stylesheet" />
    <title>Projet Teacher</title>
</head>

<body>
	<section>		

	<form method='post' action='.?view=educ_diag_2'>
		<div class="educ_diag_objimg">
			<img src="../images/obj2-diag.gif"/>
		</div>
		<div class="educ_diag_objectivetitle">
			" Identifier les signes de gravité d'une crise "
		</div>

		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num7.gif"/>
			</div>		
			<label for='q7'>A ton avis, quels sont les signes d’une crise d’asthme grave ?</label>
			<div class="educ_diag_answer">
				<input type='text' name='q7' id='q7' value='' size="80"/>
			</div>
		</p>


		
			<div class="educ_diag_answerobj">
				<p><em>Objectif II :</em></p>
	
				<p>
					<input type='radio' name='validation' id='known' value='2' />
						<label for='known'> acquis</label>
				</p>

				<p>
					<input type='radio' name='validation' id='partially_known' value='1' />
						<label for='partially_known'> partiellement acquis</label>
				</p>	
				
				<p>
					<input type='radio' name='validation' id='not_known' value='0' />
						<label for='not_known'> non acquis</label>
				</p>

				<p>
					<input type='submit' name='valid_educ_diag' id='valid_educ_diag' value='page suivante' />
				</p>
			</div>
	</form>





	</section>
</body>
</html>

