<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/educ_diag.css" rel="stylesheet" />
    <title>Projet Teacher</title>
</head>

<body>
	<section>		

	<form method='post' action='.?view=educ_diag_2'>
		<div class="educ_diag_objimg">
			<img src="../images/obj8-diag.gif"/>
		</div>
		<div class="educ_diag_objectivetitle">
			" Identifier les facteurs déclenchant / aggravant ses crises</br>
			Aménager un environnement favorable à sa santé "
		</div>


<!--QUESTION 19-->
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num19.gif"/>
			</div>
			<div class="educ_diag_question">
				Qu’est-ce qui déclenche tes crises ?
			</div>
			<div class="educ_diag_othertext4">			
				<label for='q19'>
					<U>ALLERGENES : </u>
				</label>
				<input type='checkbox' name='q19' id='q19' value='1'> Acariens, </input>
				<input type='checkbox' name='q19' id='q19' value='2'> Animaux, </input>
				<input type='checkbox' name='q19' id='q19' value='3'> Moisissures, </input>
				<input type='checkbox' name='q19' id='q19' value='4'> Pollens, </input>
				<input type='checkbox' name='q19' id='q19' value='4'> Aliments</input>
			</div>

			<div class="educ_diag_othertext4">			
				<label for='q19'>
					<U>IRRITANTS : </u>
				</label>
				<input type='checkbox' name='q19' id='q19' value='1'> Tabac, </input>
				<input type='checkbox' name='q19' id='q19' value='2'> Pollution, </input>
				<input type='checkbox' name='q19' id='q19' value='3'> Brouillard, </input>
				<input type='checkbox' name='q19' id='q19' value='4'> Humidités, </input>
				<input type='checkbox' name='q19' id='q19' value='3'> Vent, </input>
				<input type='checkbox' name='q19' id='q19' value='4'> Odeurs, </input>				
				<input type='checkbox' name='q19' id='q19' value='4'> Désodorisants</input>
			</div>

			<div class="educ_diag_othertext4">			
				<label for='q19'>
					<U>ACTIVITES : </u>
				</label>
				<input type='checkbox' name='q19' id='q19' value='1'> Efforts, </input>
				<input type='checkbox' name='q19' id='q19' value='2'> Sports, </input>			
				<input type='checkbox' name='q19' id='q19' value='3'> Sorties</input>
			</div>
			
			<div class="educ_diag_othertext4">			
				<label for='q19'>
					<U>AUTRES : </u>
				</label>
				<input type='checkbox' name='q19' id='q19' value='1'> Infections, </input>		
				<input type='checkbox' name='q19' id='q19' value='3'> Stress</input>
			</div>
		</p>


<!--QUESTION 20-->
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num20.gif"/>
			</div>
			<div class="educ_diag_question">
			Parlons maintenant de l’endroit où tu vis
			</div>			
			
			<div class="educ_diag_q10">
				<div class="educ_diag_logoimg_q10">
					<img src="../images/maison-neige.gif"/>
				</div>
				<div class="educ_diag_question_q10">
					<font color="green"> Ta chambre : </font></br>
					<div class="educ_diag_othertext3">			
						<label for='q20'>
							As-tu déjà été gêné(e) pour respirer ?
						</label>
						<input type='text' name='q20' id='q20' value='' size="40"/>
					</div>
					<div class="educ_diag_othertext3">			
						<label for='q20'>Est ce que tu dors dans un lit superposé ? 
											si oui, en haut ou en bas ?</label>
						<input type='text' name='q20' id='q20' value='' size="40"/>
					</div>
					<div class="educ_diag_othertext3">			
						<label for='q20'>
							Sais-tu en quoi est fait ton matelas ? ton oreiller ? ton traversin ? 
						</label>
						<input type='checkbox' name='q20' id='q20' value='1'>synthétique</input>
						<input type='checkbox' name='q20' id='q20' value='2'>laine</input>
						<input type='checkbox' name='q20' id='q20' value='3'>plumes</input>
					</div>
					<div class="educ_diag_othertext3">			
						<label for='q20'>
							As-tu une housse anti-acariens ? 
						</label>
						<input type='text' name='q20' id='q20' value='' size="40"/>
					</div>
					<div class="educ_diag_othertext3">			
						<label for='q20'>
							Est ce qu’il y a des peluches ? combien ? 
						</label>
						<input type='text' name='q20' id='q20' value='' size="40"/>
					</div>
					<div class="educ_diag_othertext3">			
						<label for='q20'>
							Qu’est ce qui recouvre le sol : 
						</label>
						<input type='checkbox' name='q20' id='q20' value='1'>du balatum ?</input>
						<input type='checkbox' name='q20' id='q20' value='2'>un tapis ?</input>
						<input type='checkbox' name='q20' id='q20' value='3'>de la moquette ?</input>
						<input type='checkbox' name='q20' id='q20' value='4'>du parquet ?</input>
					</div>
				</div>
			</div>
			
			
			

			<div class="educ_diag_logoimg">
				<font color="green"> Ton appartement / ta maison : </font></br>
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						Est-ce que tu vis dans une maison ou dans un appartement ?
					</label>
					<input type='text' name='q20' id='q20' value='' size="40"/>
				</div>
				
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						Est-ce que tu sais comment ton appartement/ ta maison est chauffé (e) :  
					</label>
					<input type='checkbox' name='q20' id='q20' value='1'>chauffage central, </input>	
					<input type='checkbox' name='q20' id='q20' value='2'>convecteur électrique.</input>
				</div>
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						As-tu un chauffage d’appoint : 
					</label>
					<input type='checkbox' name='q20' id='q20' value='1'>chauffage au bois, </input>
					<input type='checkbox' name='q20' id='q20' value='2'>au charbon,</input>
					<input type='checkbox' name='q20' id='q20' value='3'>au pétrole, </input>
					<input type='checkbox' name='q20' id='q20' value='4'>au fuel.</input>
				</div>
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						Y a-t-il des travaux actuellement ? 
					</label>
					<input type='text' name='q20' id='q20' value='' size="40"/>
				</div>
				
				<div class="educ_diag_q10_imgright">
					<img src="../images/appartment.gif"/>					
				</div>
				
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						Est-ce qu’il y a 
					</label>
					<input type='checkbox' name='q20' id='q20' value='1'>des bougies parfumées ? </input>
					<input type='checkbox' name='q20' id='q20' value='2'>des désodorisants ? </input>
					<input type='checkbox' name='q20' id='q20' value='3'>de l'encens ?</input>
				</div>
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						As-tu un jardin ?
					</label>
					<input type='text' name='q20' id='q20' value='' size="40"/>
				</div>
				<div class="educ_diag_othertext3">			
					<label for='q20'>
						Est-ce que quelqu’un fume à la maison ? 
					</label>
					<input type='text' name='q20' id='q20' value='' size="40"/>
				</div>
			</div>

			
			<div class="educ_diag_othertext">			
				Légendes :</br>
				Acquis : si globalement l’aménagement de l’environnement est adapté aux allergies de l’enfant.</br>
				Partiellement acquis : si des compléments d’informations sont souhaitables.</br>
				Non acquis : si l’aménagement de l’environnement n’est pas adapté.</br>
			</div>
		
		</p>
		
			<div class="educ_diag_answerobj">
				<p><em>Objectif VIII :</em></p>
	
				<p>
					<input type='radio' name='validation' id='known' value='2' />
						<label for='known'> acquis</label>
				</p>

				<p>
					<input type='radio' name='validation' id='partially_known' value='1' />
						<label for='partially_known'> partiellement acquis</label>
				</p>	
				
				<p>
					<input type='radio' name='validation' id='not_known' value='0' />
						<label for='not_known'> non acquis</label>
				</p>

				<p>
					<input type='submit' name='valid_educ_diag' id='valid_educ_diag' value='page suivante' />
				</p>
			</div>
	</form>





	</section>
</body>
</html>

