<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/educ_diag.css" rel="stylesheet" />
    <title>Projet Teacher</title>
</head>

<body>
	<section>		

	<form method='post' action='.?view=educ_diag_2'>
		<div class="educ_diag_objimg">
			<img src="../images/obj5-diag.gif"/>
		</div>
		<div class="educ_diag_objectivetitle">
			" Pratiquer les techniques de prise des médicaments inhalés "
		</div>

		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num12.gif"/>
			</div>
			<div class="educ_diag_question">
			<label for='q12'>Cliquez sur le dispositif utilisé par l’enfant pour afficher la grille de validation du geste.</label>
			</div class="educ_diag_otherimg">
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_01.gif"/></a></br>
					aérosol doseurs avec chambre
				</div>
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_02.gif"/></a></br>
					aérosel doseur sans chambre
				</div>
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_03.gif"/></a></br>
					Diskus
				</div>
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_04.gif"/></a></br>
					Turbuhaler
				</div>
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_05.gif"/></a></br>
					Novolizer
				</div>
				<div class="educ_diag_otherimg_list">
					<a href="#" ><img src="../images/appareil-asthme_06.gif"/></a></br>
					Autohaler
				</div>
			</div>
		</p>
		
		<div class="educ_diag_answerobj">
				<p><em>Objectif V :</em></p>
	
				<p>
					<input type='radio' name='validation' id='known' value='2' />
						<label for='known'> acquis</label>
				</p>

				<p>
					<input type='radio' name='validation' id='partially_known' value='1' />
						<label for='partially_known'> partiellement acquis</label>
				</p>	
				
				<p>
					<input type='radio' name='validation' id='not_known' value='0' />
						<label for='not_known'> non acquis</label>
				</p>

			</div>
		
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num13.gif"/>
			</div>
			<div class="educ_diag_question">
				<label for='q13'>Est-ce que c’est difficile pour toi de prendre tes médicaments ?</br>
					Pourquoi ?</label>
			</div>
			<div class="educ_diag_answer">
				<input type='text' name='q13' id='q13' value='' size="80"/>
			</div>
			<div class="educ_diag_othertext">
				<label for='q13'>Est-ce que tu voudrais changer de dispositif ?</label>
			</div>
			<div class="educ_diag_answer">
				<input type='text' name='q13' id='q13' value='' size="80"/>
			</div>
		</p>
		
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num14.gif"/>
			</div>
			<div class="educ_diag_question">
				<label for='q1'>As-tu tes médicaments de secours près de toi ?</label>
			</div>
			<div class="educ_diag_othertext">
				à la maison, à l’école, quand je vais au sport, quand je sors...</label>
			</div>
			<div class="educ_diag_answer">
				<input type='text' name='q14' id='q14' value='' size="80"/>
			</div>
		</p>
		
		<div class="educ_diag_answerobj">
			<p>
				<input type='submit' name='valid_educ_diag' id='valid_educ_diag' value='page suivante' />
			</p>
		</div>
			
	</form>





	</section>
</body>
</html>

