<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/educ_diag.css" rel="stylesheet" />
    <title>Projet Teacher</title>
</head>

<body>
	<section>		

	<form method='post' action='.?view=educ_diag_2'>
		<div class="educ_diag_objimg">
			<img src="../images/obj6-diag.gif"/>
		</div>
		<div class="educ_diag_objectivetitle">
			" Mesurer son débit de pointe "
		</div>

		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num15.gif"/>
			</div>
			<div class="educ_diag_question">
			<label for='q15'>As-tu un appareil pour mesurer ton souffle ? (débitmètre de pointe)</label>
			</div>
			<div class="educ_diag_answer">
				<input type='radio' name='oui' id='q15' value='0'>OUI</label>
				<input type='radio' name='non' id='q15' value='1'>NON</label>
			</div>
		</p>
		
		<p>
			<div class="educ_diag_logoimg">
				<img src="../images/num16.gif"/>
			</div>
			<div class="educ_diag_question">
			<label for='q11'>Montre-moi comment tu t’en sers ?</label>
			</div>
			
		</p>

		
			<div class="educ_diag_answerobj">
				<p><em>Objectif VI :</em></p>
	
				<p>
					<input type='radio' name='validation' id='known' value='2' />
						<label for='known'> acquis</label>
				</p>

				<p>
					<input type='radio' name='validation' id='partially_known' value='1' />
						<label for='partially_known'> partiellement acquis</label>
				</p>	
				
				<p>
					<input type='radio' name='validation' id='not_known' value='0' />
						<label for='not_known'> non acquis</label>
				</p>

				<p>
					<input type='submit' name='valid_educ_diag' id='valid_educ_diag' value='page suivante' />
				</p>
			</div>
			
			<div class="educ_diag_answerimg">
				<a href=""><img src="../images/peack_flow.png" alt="débimetre de pointe"/></a>
			</div>
	</form>





	</section>
</body>
</html>

